.personal-wrapper {
  padding: 2rem 5.25rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-bottom: 5.75rem;
}

form label {
  font-size: 0.875rem;
  line-height: 16px;
  color: var(--clr-primary-blue);
  margin-bottom: 0.5rem;
}

form input {
  border: 1px solid var(--clr-neutral-gray-light);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
}

/* input[type='text']:invalid {
  border: 1px solid var(--clr-primary-strawberry-red);
} */
