.app-container {
  background-color: var(--clr-neutral-white);
  border-radius: 15px;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
}

.app-wrapper {
  display: flex;
  padding: 16px;
}

.app-title {
  font-size: 2rem;
  line-height: 37px;
  font-weight: 700;
  color: var(--clr-primary-blue);
  margin-bottom: 0.69rem;
}

.app-text {
  line-height: 25px;
  color: var(--clr-neutral-cool-gray);
  margin-bottom: 2.5rem;
  line-height: 25px;
}

.btn {
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-white);
  border: none;
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  float: right;
}

.btn:hover {
  background-color: var(--clr-primary-blue-purple);
}

.btn:active {
  transform: scale(0.95);
}

.back-btn {
  background-color: var(--clr-neutral-white);
  border: none;
  color: var(--clr-neutral-cool-gray);
  margin-top: 0.9rem;
  font-weight: 700;
  line-height: 18px;
}

.back-btn:hover {
  cursor: pointer;
  color: var(--clr-primary-blue);
}
