.app-container {
  background-color: var(--clr-neutral-white);
  border-radius: 15px;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
}

.app-wrapper {
  display: flex;
  padding: 16px;
}

.left-col {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: var(--clr-neutral-white);
  padding-top: 2.5rem;
  padding-left: 2rem;
  padding-right: 5.56rem;
}

.step-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.step {
  border: 1px solid var(--clr-neutral-white);
  padding: 6px 10px;
  border-radius: 50%;
  line-height: 16px;
}

.active-step {
  background-color: var(--clr-primary-blue-light);
  color: var(--clr-primary-blue);
  border: 1px solid var(--clr-primary-blue-light);
}

.step-number {
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.step-text {
  font-size: 0.75rem;
  line-height: 14px;
  color: var(--clr-primary-blue-pastel);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.step-title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.right-wrapper {
  padding: 3.5rem 6.25rem;
}

.app-title {
  font-size: 2rem;
  line-height: 37px;
  font-weight: 700;
  color: var(--clr-primary-blue);
  margin-bottom: 0.69rem;
}

.app-text {
  line-height: 25px;
  color: var(--clr-neutral-cool-gray);
  margin-bottom: 2.5rem;
  line-height: 25px;
}

.btn {
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-white);
  border: none;
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  float: right;
}

.btn:hover {
  background-color: var(--clr-primary-blue-purple);
}

.btn:active {
  transform: scale(0.95);
}

.back-btn {
  background-color: var(--clr-neutral-white);
  border: none;
  color: var(--clr-neutral-cool-gray);
  margin-top: 0.9rem;
  font-weight: 700;
}

.back-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* ------------------------------- */
