.app-container {
  background-color: var(--clr-neutral-white);
  border-radius: 15px;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
}

.app-wrapper {
  display: flex;
  padding: 16px;
}

.app-title {
  font-size: 2rem;
  line-height: 37px;
  font-weight: 700;
  color: var(--clr-primary-blue);
  margin-bottom: 0.69rem;
}

.app-text {
  line-height: 25px;
  color: var(--clr-neutral-cool-gray);
  margin-bottom: 2.5rem;
  line-height: 25px;
}

.btn {
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-white);
  border: none;
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  font-size: 0.875rem;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  float: right;
}

.btn:hover {
  background-color: var(--clr-primary-blue-purple);
}

.btn:active {
  transform: scale(0.95);
}

.back-btn {
  background-color: var(--clr-neutral-white);
  border: none;
  color: var(--clr-neutral-cool-gray);
  margin-top: 0.9rem;
  font-weight: 700;
  line-height: 18px;
}

.back-btn:hover {
  cursor: pointer;
  color: var(--clr-primary-blue);
}

@media screen and (max-width: 920px) {
  .app-wrapper {
    flex-direction: column;
    padding: 0;
  }

  .left-col {
    background-image: url(/src/assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 172px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
  }

  .step-text,
  .step-title {
    display: none;
  }

  .step-number {
    margin-right: 1.5rem;
  }

  .personal-wrapper,
  .plan-wrapper,
  .addons-wrapper,
  .confirm-wrapper,
  .thank-you-container {
    padding: 2rem;
  }

  .btn-personal {
    margin-bottom: 1rem;
  }

  form {
    margin-bottom: 1rem;
  }

  .plan-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plan-card-wrapper {
    display: flex;
  }

  .card-img {
    margin-right: 0.875rem;
  }

  .plan-card {
    margin-bottom: 0.75rem;
    width: 100%;
  }
  .plan-card:not(:last-child) {
    margin-right: 0;
  }
}
