.thank-you-container {
  padding: 10.312rem 5.25rem;
}

.thank-you-container img {
  height: 80px;
  margin-bottom: 2rem;
}

.thank-you-wrapper {
  text-align: center;
  width: 450px;
}

.thank-you-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary-blue);
  margin-bottom: 0.875rem;
}

.thank-you-text {
  color: var(--clr-neutral-cool-gray);
}
